NODE_ENV=test
DRY_RUN=true
RECLOUD_WRITE_ENABLED=false
RECLOUD_REVEAL_PHONE_ENABLED=false
FIELDDESK_AUTH_MODE=accounts
FIELDDESK_STORAGE_DRIVER=memory
FRONTEND_ORIGIN=http://localhost:5173
FIELDDESK_SESSION_HOURS=1
PORT=3000
